# API Port (external port on your machine)
API_PORT=

# Database Port (external port on your machine)
DB_PORT=

# Database Password sql server connection string and mcr.microsoft.com/mssql/server:2022-latest password on docker
DB_PASSWORD=

# Database Configuration (for Docker Compose)
ConnectionStrings__DefaultConnection=Server=db;Database=;User Id=sa;Password=${DB_PASSWORD};TrustServerCertificate=True;MultipleActiveResultSets=true;Connection Timeout=30;

# JWT Configuration
JWT__Key=
JWT__Issuer=http://localhost:5000/
JWT__Audience=PetMat
JWT__AccessTokenExpirationMinutes=15
JWT__RefreshTokenExpirationDays=7

# SMTP Configuration
SMTP__Host=smtp.gmail.com
SMTP__Port=587
SMTP__Email=
SMTP__Password=

# Google OAuth Configuration
Authentication__Google__ClientId=
Authentication__Google__ClientSecret=

# Application Configuration
BaseURL=
Frontend__BaseUrl=
ASPNETCORE_URLS=

# Stripe Configuration
Stripe__Secretkey=
Stripe__WebhookSecret=
