# API Port
API_PORT=5000

# Database Password
DB_PASSWORD=Your_password

# Database Configuration
ConnectionStrings__DefaultConnection=Server=db;Database=yourDataBase;User Id=sa;Password=${DB_PASSWORD};TrustServerCertificate=True;

#Database Configuration (for frontend, that connects database image on host machine)
#ConnectionStrings__DefaultConnection=Server=host.docker.internal,1433;Database=petmat;User Id=sa;Password=${DB_PASSWORD};TrustServerCertificate=True;

# JWT Configuration
JWT__Key=fgfgfgfgfgfgfhjhjhjhjhjwewewew
JWT__Issuer=http://localhost:5000/
JWT__Audience=TestTest
JWT__AccessTokenExpirationMinutes=15
JWT__RefreshTokenExpirationDays=7

# SMTP Configuration
SMTP__Host=smtp.gmail.com
SMTP__Port=587
SMTP__Email=YourGmail@gmail.com
SMTP__Password=.....

# Google OAuth Configuration
Authentication__Google__ClientId=.....
Authentication__Google__ClientSecret=......

# Application Configuration
BaseURL=http://localhost:5000/
Frontend__BaseUrl=....
ASPNETCORE_URLS=http://+:8080